* {
  box-sizing: border-box;
}
/* style start */
body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #2c2c70;
  background-color: lightgray;
}
​
a {
  text-decoration: none;
  color: #113766;
  background-color: magenta;
  font-weight: bold;
  transition: color 0.1s;
  border-radius: 0.4em;
  padding: 3px;
}
​
a:hover {
  color: #3486eb;
  background: none;
}
/* button style */
button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}
​
button:hover {
  background-color: #3486eb;
}
.btn-no-style {
  background: none;
  border: none;
  padding: 4px;
  cursor: pointer;
  text-decoration: none;
  color: #113766;
  background-color: magenta;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
  border-radius: 0.5em;
}
​
.btn-no-style:hover {
  background: none;
  color: #3486eb;
  border-radius: 0.5em;
}
.delete-post-btn {
  background-color: #d41414;
}
​
.delete-post-btn:hover {
  background-color: #ff643d;
}
​
/* header style */
header {
  border-bottom: 1px solid #ccc;
  background-color: #131334;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 1% 1%;
  flex-wrap: wrap;
  flex-direction: column;
}
​
header a {
  margin: 7px;
  padding: 3px;
}
​
/* main style start */
main {
  flex: 1;
  padding: 2% 4%;
}
h1 {
  background-color: #020e66;
  color: #41cded;
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
}
​
li {
  margin: 30px 5px;
  border-radius: 5px;
  padding: 3px;
  border: 1px solid;
}
​
textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}
​
textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #3486eb;
}
​
textarea {
  min-width: 40%;
  min-height: 100px;
}
​
form > div {
  margin-bottom: 2%;
}
​
form label {
  display: block;
}
​
.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
​
/* start post style */
.post-list {
  margin: 0;
  padding: 0;
}
.post {
  line-height: 150%;
  padding: 0 10px;
}
​
.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}
.new-post-form input {
  width: 300px;
}
​
.edit-post-form {
  margin-bottom: 5%;
}
.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}
.single-post {
  display: flex;
  border-radius: 5px;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
}
​
.single-post .title {
  align-self: center;
  text-align: center;
}
​
.single-post .date {
  padding-top: 3px;
  padding-bottom: 10px;
}
​
textarea {
  width: 100%;
}
​
.your-posts {
  margin-top: 20px;
  border-top: 1px solid black;
  padding-top: 20px;
}
​
.your-posts .edit {
  margin-top: 30px;
}
​
.your-posts li {
  list-style-type: none;
  width: 100%;
}
​
.your-posts ul {
  list-style-type: none;
  padding-left: 0px;
}
​
/* comment style */
.comment-form {
  margin-bottom: 5%;
}
​
.comment {
  padding: 1%;
  margin-bottom: 1%;
}
​
.comment:nth-child(odd) {
  background-color: #fff5eb;
  border-radius: 10px;
}
​
.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}
​
/* footer style */
footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}



